* {
 background-color: rgb(223, 240, 238);  
}

.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.vehicle {
  background-color: white;
  min-width: 101px;
  max-width: 150px;
  margin: 15px;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 2px 2px 2px 2px rgb(114, 113, 113);
}