* {
  font-family: 'Lato', sans-serif;
  background-color: rgb(234, 243, 242);  
}

hr {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#logo {
  width: 30px;
  margin: auto 8px;
}

.title {
  display: flex;
  justify-content: left;
  margin-left: 2.5%;
}

p, strong {
  background-color: white;
}

h2 {
  font-weight: 700;
  margin-left: 5px;
}

.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.vehicle {
  font-weight: 300;
  border-radius: 3px;
  background-color: white;
  min-width: 101px;
  max-width: 150px;
  margin: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 40px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(212, 219, 218);
}