* {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(234, 243, 242);  
}

#form {
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 95vh;
  align-items: center;
}

.label {
  color: blue;
  width: 100%;
}

.login-button {
  margin-top: 10px;
  color: white;
  background-color: blue;
  width: 100%;
  border-color: none;
  border-radius: 5%;
}

.error-parent {
  text-align: center;
}

.error {
  font-size: 1em;
  display: inline;
  color: red;
  position: relative;
}